mpi_primos/naive/naive
multiplicacao-matrizes-mpi/scatter
mpi_primos/bag_of_tasks/bag_2
mpi_primos/naive/naivesend
mpi_primos/naive/irecv
.gitignore
mpi_primos/naive/isend
mpi_primos/naive/ii
mpi_primos/naive/send
.gitignore
mpi_primos/naive/rsend
mpi_primos/naive/joao/sendjoao
mpi_primos/naive/birec
mpi_primos/naive/bsend
mpi_primos/naive/sirec
.gitignore
mpi_primos/naive/joao/bsend/bsend
mpi_primos/naive/ssend
